body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}

h1 {
    text-emphasis: filled dot #007bff;
    color: #333;
}

h2 {
    text-emphasis-style: open circle;
    text-emphasis-color: #ff6347;
    color: #555;
}

p {
    text-emphasis: filled sesame #32cd32;
    font-size: 1.2em;
    color: #666;
}

.highlight {
    text-emphasis: open double-circle #ff69b4;
    font-weight: bold;
    color: #c00;
}

.rtl {
    direction: rtl;
    text-emphasis: filled dot #ff4500;
    text-emphasis-position: under;
}
.text {
    font-family: Jost, sans-serif;
    font-weight: bold;
    font-size: 8rem;
    background-image: url("logo.png");
    background-size: 50%;
    background-position: 25% 15%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }