body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f5f5f5;
  }
  
  h1 {
    margin: 20px;
    color: #333;
  }
  
  .gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }
  
  .image-container {

    width: 200px;

    height: 200px;

    position: relative;

    border-radius: 8px;

    margin-bottom: 20px;

    border: 10px solid red;

  }

  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Valor por defecto que se puede cambiar */
  }
  
  .image-container p {
    margin: 10px 0 0;
    font-size: 14px;
    color: #555;
  }
  .image-container:nth-child(1) img {
    object-fit: cover;
  }
  .image-container:nth-child(2) img {
    object-fit: contain;
  }
  .image-container:nth-child(3) img {
    object-fit: cover;
    object-position: center top;
  }