.box {
    width: 100px;
    height: 100px;
    margin: 10px;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

/* Colores iniciales */
.box1 { background-color: red; }
.box2 { background-color: green; }
.box3 { background-color: blue; }

/* Propiedades iniciales */
.hidden {
    visibility: hidden; /* Elemento oculto pero mantiene su espacio */
}

.transparent {
    opacity: 0.8; /* Elemento transparente pero interactuable */
}

.removed {
    display: none; /* Elemento no se muestra ni ocupa espacio */
}