/* Variables globales */
:root {
    --card-bg-color: #455879;
    --card-border-color: #2aa632;
    --card-title-color: #d18241;
    --card-description-color: #6dca78;
    --card-shadow-color: rgba(64, 241, 69, 0.903);
    --card-border-radius: 10px;
    --card-padding: 16px;
    --card-font-family: Arial, sans-serif;
    --card-bg-color-2: #68277f;
  }
  
  /* Estilo general del body */
  body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eaeaea;
    font-family: var(--card-font-family);
  }
  
  /* Estilos de la tarjeta */
  .card {
    background-color: var(--card-bg-color);
    border: 10px solid var(--card-border-color);
    border-radius: var(--card-border-radius);
    box-shadow: 0 4px 8px var(--card-shadow-color);
    padding: var(--card-padding);
    text-align: center;
    width: 250px;
  }
  
  .card__image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  
  .card__title {
    color: var(--card-title-color);
    margin: 12px 0 8px;
  }
  
  .card__description {
    color: var(--card-description-color);
    font-size: 14px;
  }
  
  /* Estilos de la tarjeta */
  .card2 {
    background-color: var(--card-bg-color-2);
    border: 10px solid var(--card-border-color);
    border-radius: var(--card-border-radius);
    box-shadow: 0 4px 8px var(--card-shadow-color);
    padding: var(--card-padding);
    text-align: center;
    width: 250px;
  }