/* Estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  header nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  header nav ul li a:hover {
    color: #ffa500;
  }
  
  main {
    padding: 20px;
    text-align: center;
  }
  
  .gallery {
    margin: 20px auto;
  }
  
  .gallery-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .gallery-grid img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s;
  }
  
  .gallery-grid img:hover {
    transform: scale(1.05);
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  /* Media Queries */
  
  /* Pantallas de tablet */
  @media (max-width: 768px) {
    header nav ul {
      flex-direction: column;
      gap: 10px;
    }
  
    .gallery-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* Pantallas móviles */
  @media (max-width: 480px) {
    header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    header nav ul {
      width: 100%;
      text-align: left;
    }
  
    .gallery-grid {
      grid-template-columns: 1fr;
    }
  
    main {
      padding: 10px;
    }
  }
  
  @media print {
    /* Ocultar todo excepto la galería */
    header, footer {
      display: none;
    }

    #inicio {
      display: none;
    }
  
    .gallery-grid {
      grid-template-columns: 4fr;
    }
  
    .gallery-grid img {
      width: 20%;
      margin-bottom: 10px;
    }

    h2 {
      font-size: 50px;
    }
  }